body.background_image {
    background-image: url('../img/background.png');
    background-size: 35%; /* Asegura que la imagen cubra toda la pantalla */
    background-color: white;
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    height: 100vh; 
    width: 100vw;
}

.boton_principal {
    border: none; 
    color: black; 
    padding: 14px 28px; 
    cursor: pointer; 
    border-radius: 5px;
  }
  
  .primary {background-color: white; border: 2px solid #007bff;} 
  .primary:hover {background: #0b7dda; color: white;}
  
  .secondary {background-color: white; border: 2px solid #e7e7e7;} 
  .secondary:hover {background: #ddd; color: white;}
  
  .success {background-color: white; border: 2px solid #04AA6D;} 
  .success:hover {background-color: #46a049; color: white;}
  
  .warning {background-color: white; border: 2px solid #ff9800;} 
  .warning:hover {background: #e68a00; color: white;}
  
  .danger {background-color: white; border: 2px solid #f44336;} 
  .danger:hover {background: #da190b; color: white;}